&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    drv2625: drv2625@5a{
        compatible = "ti,drv2625";
        status = "okay";
        reg = < 0x5a >;
	nrst-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl {
	/omit-if-no-ref/ i2c1_default: i2c1_default {
		group1  {
			psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
			<NRF_PSEL(TWIM_SDA, 1, 15)>;
		};
	};

	/omit-if-no-ref/ i2c1_sleep: i2c1_sleep {
		group1  {
			psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
			<NRF_PSEL(TWIM_SDA, 1, 15)>;
			low-power-enable;
		};
	};
};
